<div id="<%= dom_id property %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= property.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <%= property.address %>
  </p>
</div>
