<h1>You're Invited!</h1>
<p>You've been invited to join <%= @invitation.organization.name %> as a <%= @invitation.role %>.</p>
<p><a href="<%= @accept_url %>">Click here to accept the invitation</a></p>